.todo-list {
  list-style: none;
  padding: var(--padding-block);
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid var(--color-border);
  border-radius: var(--radius);
  overflow: hidden;
}
